# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Ignore ovarian cancer dataset only
input_pdfs/ovarian_cancer/

# Ignore reports 
reports/
reports_old/
prepare_qwen_reports.py
gemini_ocr_benchmark(in).csv
TCGA_database_restaging.csv

